*.o
*.cmd
*.tmp
*.ko
*.mod.c
*.symversions
*.lto.*
out/

# Build artifacts in source tree
*.o.d
built-in.a
modules.order
modules.builtin
*.symversions
*.lto.lds
kheaders_data.tar.xz
*.lex.c
*.tab.c
*.tab.h
devicetable-offsets.s
